extends ./layout.jade

block title
    title 404

block content
    .container
        h1 Страница не найдена
        p.lead
            | К сожалению, такой страницы не существует.
            br
            | Вероятно, она была удалена или похищена инопланетянами.
        p
            a(href='/') Вернуться на главную