extends ./layout.jade

block title
    title 500

block content
    .container
        h1 Сервис временно недоступен
        p.lead
            | С нашим сервером случилась беда, но мы уже в курсе и скоро всё исправим.
            br
            | Попробуйте перезагрузить страницу через несколько минут.