extends ./layout.jade

block title
    title Все статьи

block content
    .container
        .header
            h2 Все статьи
        .row
            each article, index in articles
                if index % 3 == 0
                    .clearfix
                .col-md-4
                    include lead