extends ./layout.jade

block append scripts
    script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyBS1iXc1LK53yU-_bkbBuFi3rDatIoqBa8')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js')
    script(type='text/javascript', src='/scripts/map.js')
    script(type='text/javascript').
        google.maps.event.addDomListener(window, 'load', function() {
            var map = new Map('map', {
                center: {
                    lat: 59.91815363876071,
                    lng: 30.30557799999997
                },
                zoom: 9
            });

            !{places_json}.forEach(function(place) {
                map.addMarker(new Marker(place));
            });
        });

block content
    #map(style='height: 400px')
    .container
        .header
            h2 Новые статьи
        .row
            each article in articles
                .col-md-4
                    include lead