doctype html
html
    head
        block title
            title NAPRIRODKU
        block description
            meta(name='description', content='Жизнь категорически трансформирует данный интеллект')
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic')
        link(rel='stylesheet', type='text/css', href='/css/global.css')
    body
        div(style='border-bottom: 1px solid #ccc')
            .container
                .logotype
                    a(href='/', style='text-decoration: none; color: #000')
                        span(style='color: #cc0000') NA
                        span PRIRODKU
        block content
        div(style='border-top: 1px solid #ccc')
            .container
                p
                    small &copy; 2016 The V. Team