doctype html
html
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic')
        link(rel='stylesheet', type='text/css', href='/styles/global.css')
        block title
            title NAPRIRODKU
    body
        div(style='max-width: 1000px; margin: 0px auto')
            div(style='margin: 30px 15px; border-bottom: 1px solid #ccc')
                h1
                    a(href='/', style='text-decoration: none; color: #000')
                        span(style='color: #cc0000') NA
                        span PRIRODKU
            block content
            div(style='margin: 30px 15px; border-top: 1px solid #ccc')
                p &copy; 2016 The V. Team