doctype html
html
    head
        block title
            title NAPRIRODKU
        block description
            meta(name='description', content='Сообщество любителей путешествий по Ленинградской области. Узнайте, куда лучше сбежать из Петербурга на выходные и делитесь своими впечатлениями!')
        block og
            meta(property='og:type', content='website')
            meta(property='og:url', content='http://naprirodku.ru')
            meta(property='og:title', content='NAPRIRODKU')
            meta(property='og:description', content='Сообщество любителей путешествий по Ленинградской области. Узнайте, куда лучше сбежать из Петербурга на выходные и делитесь своими впечатлениями!')
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic')
        link(rel='stylesheet', type='text/css', href='/css/global.css')
    body
        //
            nav.navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href='/') PRIRODKU
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    #bs-example-navbar-collapse-1.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a(href='#') Link
                            li
                                a(href='#') Link
        .container
            .logotype
                a(href='/', style='text-decoration: none; color: #000')
                    span(style='color: #cc0000') NA
                    | PRIRODKU
        div(style='border: 1px solid #ccc; border-width: 1px 0px')
            block content
        .container
            .row
                .col-sm-4.col-md-8
                    p &copy; 2016 NAPRIRODKU
                .col-sm-8.col-md-4
                    p
                        a(href='mailto:feedback@naprirodku.ru') feedback@naprirodku.ru