body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0px;
    padding: 0px;
    font-weight: normal;
}

h1 { font-size: 40px }
h2 { font-size: 32px }
h3 { font-size: 24px }
h4 { font-size: 16px }
h5 { font-size: 14px }
h6 { font-size: 12px }

p {
    margin: 20px 0px;
    padding: 0px;
    line-height: 1.5;
}

small {
    font-size: 12px;
}

a {
    color: #0d44a0;
}

a:hover {
    color: #cc0000;
}

.place img {
    max-width: 100%;
}