body {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0px;
    padding: 0px;
    font-weight: 300;
}

p {
    margin: 20px 0px;
    padding: 0px;
    font-weight: 300;
}

a {
    color: #0d44a0;
}

a:hover {
    color: #cc0000;
}

.header {
    margin: 40px 0px 20px 0px;
    border-bottom: 1px solid #eee;
}

.article h1 {
    line-height: 1.25;
}

.article h2 {
    line-height: 1.25;
}

.article p {
    font-size: 16px;
    line-height: 1.5;
}

.article img {
    width: 100%;
}

.article-lead h3 {
    line-height: 1.25;
}

.article-lead p {
    line-height: 1.5;
}